#Ignore Dev C++ project files
*.dev
*.layout
Makefile.win
gmon.out

#Ignore compiled files
*.exe
*.o

#Ignore vim trash
*.swp
*.txt

#ignore atom files
.atom-build.yml
process-palette.json

#ignore misc files
*.bat

##inclusions##
!Input test sets/*Boi/*.txt